<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="RightNowKnowledgeBinding">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport"
              requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="false">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://hsn.custhelp.com/cgi-bin/hsn.cfg/services/kf_soap"
          binding="customBinding" bindingConfiguration="RightNowKnowledgeBinding"
          contract="Hsn.RightNow.Proxy.RightNowKnowledgePort" name="RightNowKnowledgePort" />
    </client>
  </system.serviceModel>
</configuration>